openai>=2.0
litellm>=1.73
vllm>=0.10
gritlm>=1.0.2
torch>=2.5
transformers>=4.45
networkx>=3.4.2
pydantic>=2.10
python_igraph>=0.11.8
tenacity>=8.5
tiktoken>=0.7
nest_asyncio
numpy
scipy
tqdm
einops
boto3
pyarrow
pandas
outlines>=1.0
