.venv/
.cursorrules
tmp/
openai_batches/
models/
results/
datasets/
llm-comparator/
trained_d2l/
# Ignore data files but not scripts
/data/processed_datasets/
/data/raw_datasets/
/data/distil/
__pycache__/
*egg-info/
.vscode/
.ipynb_checkpoints/
wandb/
*.bak
*outputs/
plots/
*.out
*.err
*.pt
*.pth
*.bin
*.safetensors
*tfevents*
watcher_state.yaml
eval_results/
.github/
*.code-workspace
.wandb/
.ruff_cache/
